//out: out/main.css, sourcemap: true, compress: false

//variables
bg = #222
page = white
font-color = rgb(38, 38, 38)
accent = rgb(28, 173, 228)
subheading = rgb(127, 127, 127)

html, body, main
    height 100%

body
    font-family "Fira Mono", monospace
    color font-color
    display flex
    flex-direction column
    align-items center
    justify-content center
    background-color bg
    margin 0
    & > main
        display flex
        flex-direction column
        //flex 1 1 auto
        max-width 50em
        margin 2em
        padding 4em
        overflow-y auto
        box-shadow 8px 8px 8px black
        background-color page

a
    color font-color
    text-decoration none
    font-weight normal

mark
    color accent
    background-color inherit

address
    font-style normal
    & > mark
        border-right solid 2px accent
        min-width 1px

main
    & > header
        margin-bottom 16px
        margin-left 234px

h1, h2, h3, h4
    margin 0
    text-transform uppercase

h2, h3
    font-size 1.1em

h1
    font-size 3em
    color accent
    margin-left -5px

h2
    //placeholder

h3
    //placeholder

h4
    font-size 0.9em
    font-weight normal
    color subheading

p
    margin 0

section
    &[data-type='main']
        display flex
        flex-direction row
        margin-bottom 16px
        & > header
            flex 0 0 214px
            text-align right
            color accent
            border-right solid 2px accent
            padding-right 8px
            margin-right 8px
        & > main
            display flex
            flex-direction column
            flex 8 0 0
        &:last-child
            margin-bottom 0
    &[data-type='cert']
        margin-bottom 16px
        & > header
            margin-bottom 4px

    &[data-type='job']
        margin-bottom 16px
        & > header
            margin-bottom 4px

    &[data-type='school']
        margin-bottom 16px
        & > header
            margin-bottom 4px

    &[data-type='cert'] > header,
    &[data-type='job'] > header,
    &[data-type='school'] > header
        //placeholder
